@import '../index.scss';

.navbar {
  width: 100%;
  background: $white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  z-index: 1100;
  // padding: 0 2rem;

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
  }

  .logo img {
    height: 3rem;
    width: auto;
  }

  /* Desktop links */
  .nav-links {
    display: none;
    list-style: none;

    li {
    margin: 0 5px; // 👈 spacing between items
  }


    a {
      position: relative;
      text-decoration: none;
      color: $black;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0%;
        height: 2px;
        background: $primary-color;
        transition: 0.3s;
      }

      &:hover::after {
        width: 100%;
      }

      &.active {
        color: $primary-color;
        font-weight: 600;
      }

      &.active::after {
        width: 100%;
      }
    }
  }

  /* Right section */
  .nav-right {
    display: flex;
    align-items: center;
    gap: 15px;

    .btn {
      display: none;
    }
  }

  .menu-icon {
    font-size: 1.7rem;
    cursor: pointer;
  }
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 260px;
  height: 100%;
  background: $white;
  box-shadow: $shadow-medium;
  transition: 0.3s;
  padding: 20px;
  z-index: 1000;

  &.active {
    right: 0;
  }

  .close-btn {
    text-align: right;
    font-size: 2rem;
    cursor: pointer;
  }

  ul {
    margin-top: 30px;

    li {
      margin-bottom: 20px;
    }

    a {
      text-decoration: none;
      color: $black;
      display: block;

      &.active {
        color: $primary-color;
        font-weight: 600;
      }
    }
  }

  .mobile-btn {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
  }
}

/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

@media (min-width: 768px) {

  .navbar{
    padding: 0 2rem;
  }

  .navbar .nav-links {
    display: flex;
    gap: 25px;
  }

  .menu-icon {
    display: none;
  }

  .navbar .nav-right .btn {
    display: inline-block;
  }

  .mobile-menu,
  .overlay {
    display: none;
  }
}

/* Desktop */
@media (min-width: 1024px) {

  .navbar{

    .logo{
      img{
        height: 3.5rem;
      }
    }
  }

  .navbar .nav-container {
    padding: 20px 40px;
  }

  .nav-links {
    gap: 30px;
  }

  .nav-right .btn {
    padding: 10px 22px;
  }
}