@media (min-width: 768px) {

  .blog-page {

    .blog-list {
      padding: 100px 80px;

      .blog-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
      }

      .blog-img {
        height: 200px;
      }
    }

  }
}